@font-face {
  font-family: 'Avenir Next';
  src: url("../fonts/AvenirNext-Regular.ttf");
  src: url("../fonts/AvenirNext-Regular.eot");
  src: url("../fonts/AvenirNext-Regular.otf");
  src: url("../fonts/AvenirNext-Regular.svg");
  src: url("../fonts/AvenirNext-Regular.woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Avenir Next Bold';
  src: url("../fonts/AvenirNext-Bold.ttf");
  src: url("../fonts/AvenirNext-Bold.eot");
  src: url("../fonts/AvenirNext-Bold.otf");
  src: url("../fonts/AvenirNext-Bold.svg");
  src: url("../fonts/AvenirNext-Bold.woff");
  font-weight: bold;
  font-style: normal;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Avenir Next';
  color: white;
}
